* {
    padding: 0;
	margin: 0;
}

body {
    background-color: rgba(221, 212, 199, 0.795);
}
/*
img {
	border: 5px solid rgba(55, 72, 226, 0.616);
	width: 48%;
	height: auto;
    float: left;
    position: relative;
    margin: 1px;
}

img:hover {
    opacity: 0.9;
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.5s linear
}*/

.link {
	font-size: 30px;
	font-weight: bold;
	color: black;
	display: inline-block;
    margin: 15px;
    padding: 15px 20px;
    cursor: pointer;
	background: #3244bdbb;
    border-radius: 25px;
    transition: 0.5s linear;
}
.link:hover {
    box-shadow: 0 0 0 2px #ff0000 inset, 0 0 0 4px white inset;
}

.slider {
    z-index: 9;
    width: 600px;
    height: 650px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
 }

.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
 }

.slider ul {
    width: 9999px; 
 }

.slider ul li {
    list-style-type: none;
    float: left;
    width: 700px;
    height: 290px;
 }

.slider .nav {
    position: absolute;
    left: 15px;
    bottom: 12px; 
 }

.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }