@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #e1e1e9;
	height: 100%;
	font-family: Montserrat, Arial, sans-serif;
	border: 3px solid #000;
	margin: 15px;
	padding: 20px 40px 20px;

}
.logo {
	border: 3px solid #000;
	width: 300px;
	margin: 10px;
	padding: 10px;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
}
nav ul{
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}
nav {
	padding: 10px 5px 10px;
}
a {
	text-decoration: none;
	color: #000;
}
li {
	list-style: none;
	font-size: 15px;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}
.navConteiner {
	border: 3px solid #000;
	width: 100%;
	margin: 10px 10px 20px;
	align-self: flex-end;
	position: relative;
}
.search {
	border: 3px solid #000;
	float: right;
	top: 145px;
	right: 85px;
	position: absolute;
}
main {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: flex-start
}

.mainContent {
	border: 3px solid #000;
	width: 60%;
}
.list {
	border: 3px solid #000;
	width: 100%;
	margin-bottom: 20px;
}
.portfolio {
	border: 3px solid #000;
	margin: 10px;

}
.basePhoto img {
	width: 95%;
	margin: 15px;
}
.gallery img {
	width: 50px;
}
.gallery {
	border: 3px solid #000;
	align-items: center;
	width: 100%;
}
.lorem {
	align-self: flex-start;
}
.colage {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
.leftContent {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 30%;
}
.photo {
	margin: 7px;
}
h2 {
	margin: 10px;
}
p {
	margin: 15px;
}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {
	body {
		padding: 10px 20px 10px;
	}
	.colage {
		margin: 20px;
	}
	header {
		display: flex;
		flex-direction: row;
	}
	.search {
		float: right;
		top: 75px;
		right: 60px;
		position: absolute;
	}
	.basePhoto img {
		width: 93%;
	}
}
@media (max-width: 320px) {
	body {
		font-size: 15px;
		padding: 5px;
		margin: 0;
	}
	.logo {
		width: 50%;
		padding: 5px;
		margin: 0;
		font-size: 12px;
	}
	.search {
		top: 10px;
		right: 15px;
		width: 40%;
	}
	.search input {
		width: 100%;
	}
	li {
		font-size: 10px;
		margin: 0;
		padding: 0;
	}
	nav {
		margin: 0;
		padding: 0;
	}
	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0;
		margin: 0;
	}
	.navConteiner {
		margin: 15px 0 15px;
		padding: 0;
	}
	header {
		display: flex;
		flex-direction: row;
	}
	#about {
		display: flex;
		flex-direction: column;
	}
	.mainContent {
		width: 100%;
	}
	.basePhoto img {
		width: 97%;
		margin: 5px;
	}
	.leftContent {
		width: 100%;
	}
	.list {
		display: none;
	}
	.gallery {
		margin-top: 15px;
	}
	.gallery img {
		width: 40px;
	}
	.nonPhoto {
		display: none;
	}
	.photo {
		margin: 0;
	}
	.colage {
		margin: 0;
	}
	p {
		font-size: 11px;
	}
}